body{font-family: -apple-system-font,"Microsoft Yahei", "Helvetica Neue", sans-serif !important;}
ul{padding: 0;}
ul,li{list-style: none}
.flex-box{display: flex;flex-direction:row;flex-wrap: nowrap;justify-content: flex-start;margin:1rem 0;}
.flex-box-content{
 display: flex;flex-direction: column;padding-left: 0.5rem;
}
.bg-warning {
background-color: #ffc107
}
.bg-error {
background-color: #f44336
}
.bg-primary {
background-color: #26a2ff
}
.bg-success {
background-color: #4caf50
}
.text-muted{color: #888;}
.m-r-1{margin-right:0.5rem;}
.line{border-top:1px solid #eee;height: 1px;margin:1rem 0;}
.content{margin-top: 90px;overflow:auto;padding: 0.5rem}
.header-fixed{width: 100%;position: fixed;left: 0px;top: 0px;z-index: 100;}
.text-green{color: #00b600;}
.text-blue{color:#1f63fe;}
.text-brown{color:rgb(159, 120, 96)}
.text-orange{color:#f0ad4e}
.text-sky-blue{color:rgb(42, 184, 204)}
.vux-demo {
text-align: center;
}
.logo {
width: 100px;
height: 100px
}
.small-size{font-size: 13px;}